.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
blockchain-env
flask-venv
*.pyc

# Local History for Visual Studio Code
.history/

.pytest_cache/*
